input {
    width: 22rem;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    overflow: hidden;
    font-size: 1.8rem;
    font-family: 'Luckiest Guy', cursive;
}